.navbarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.logo {
  width: 65px;
  height: 29px;
}

.logoM {
  display: none;
}

.logoLink {
  height: 29px;
}

.catalogMobileLink {
  display: none;
}

.catalogLink {
  text-decoration: none;
  color: #fff;
  display: flex;
  padding: 9px;
  border-radius: 12px;
  gap: 8px;
  align-items: center;
  background-color: #ffffff20;
  span {
    color: #fff;
  }
}

.logoWrapper {
  background-color: #fc8507;
  max-width: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px;
  border-radius: 12px;
}

.openMenuDrawerButton {
  display: none;
}

.menuPoints {
  display: flex;
  align-items: center;
  gap: 20px;
}

.searchInput {
  width: 40vw;
}

.icons {
  display: flex;
  gap: 20px;
}

.iconWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.icon {
  font-size: 20px;
}

@media screen and (max-width: 760px) {
  .openMenuDrawerButton {
    display: block;
  }

  .logoM {
    display: block;
    width: 65px;
    height: 29px;
  }

  .logo {
    display: none; 
  }

  .logoWrapper {
    background-color: transparent;
    max-width: fit-content;
  }
  .catalogLink {
    display: none;
  }

  .catalogMobileLink {
    display: block;
  }


  .menuPoints {
    display: none;
  }

  .menuMobileVersion {
    .menuPoints {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
  }

  .searchInput {
    width: 100%;
  }
}
