/* ProductCard.module.scss */

.link {
  text-decoration: none;
  width: 100%;
}

.shadowCard {
  display: flex;
  width: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  
  background-color: #fff;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}

.shadowCard:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.cardContent {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.imageContainer {
  flex: 0 0 auto;
  margin-right: 16px;
}

.textContainer {
  width: 50%;
  text-align: start;
}

.actionsContainer {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cardTitle {
  margin: 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 24px;
  font-weight: bold;
}

.cardText {
  font-size: 18px;
  width: 100%;
}

/* Адаптивные стили */
@media (max-width: 768px) {
  .shadowCard {
    flex-direction: column;
    align-items: center;
  }

  .cardContent {
    flex-direction: column;
    align-items: center;
  }

  .imageContainer {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .textContainer {
    text-align: center;
    width: 100%;
  }

  .actionsContainer {
    align-items: center;
    margin-top: 16px;
  }

  .cardTitle {
    font-size: 20px;
  }

  .cardText {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .cardTitle {
    font-size: 18px;
  }

  .cardText {
    font-size: 14px;
  }
}
